.detail__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: rem(30) 0;
    margin: 0 auto;
    @include tablet{
        flex-direction: row;
        max-width: rem(1000);
        
    }
    .detail__image{
        width: 300px;
        img{
            width: rem(300);
        }
        @include tablet{
            width: rem(400);
        }
       
    }
    .detail__info{
        height: 100%;
       padding: 0 rem(10);
        @include tablet{
            font-size: rem(20);
            
        }
        .detail__header{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-content: center;
            padding: rem(16) 0;
            .detail__title{
                font-size: rem(20);
                @include tablet{
                    font-size: rem(30);  
                }
                h2{
                    margin: 0
                }
            }
            .detail__price{
                font-size: rem(20);
                @include tablet{
                    font-size: rem(30);
                    
                }
            }
        }
        .detail__description{
            display: flex;
            flex-direction: column;
            span{
                @include tablet{
                    font-size: rem(16);  
                }
            }
        }
    }


    
}